// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-index .content-wrapper　{
  display: flex;
}

#welcome-index .content-block{
  background-color: blueviolet;
  width: 80%;
  height: 200px;
}

#welcome-index .sidebar {
  background-color: cornflowerblue;
  width: 20%;
  height: 200px;
}